.control-panel {
  flex: 1;
  background-color: #111111;
  min-height: 100vh;
  color: #eeeeee;
}

.control-panel input {
  border: 1px solid #3a3a3a;
  background-color: #222222;
  color: #b4b4b4;
}
