.control-panel {
  flex: 1;
  background-color: #111111;
  min-height: 100vh;
  color: #eeeeee;
}

/* General informations */

.general {
  padding: 48px;
}

label {
  box-sizing: border-box;
}

h2 {
  margin: 16px 0 16px 0;
}

input {
  margin-top: 4px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin-bottom: 8px;
  border: 1px solid #3a3a3a;
  background-color: #222222;
  color: #b4b4b4;
  border-radius: 3px;
  padding: 10px 16px;
}

input:focus {
  outline: none;
  border: 1px solid #00a2c7 !important;
}

input::-webkit-input-placeholder {
  color: #8d8d8d;
}

input::-webkit-calendar-picker-indicator {
  filter: invert(100%);
}

input:is(:-webkit-autofill, :autofill) {
  -webkit-box-shadow: 0 0 0px 1000px #222222 inset !important;
  -webkit-text-fill-color: #b4b4b4;
}

button {
  border-radius: 3px;
  border: none;
  padding: 8px 16px;
  background-color: #00a2c7;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #00a2c7;
}

button:active {
  background-color: #00a2c7;
  transform: translateY(0.5px);
}

button:focus {
  outline: 1px solid #00a2c7;
}

.btn-error {
  background-color: #e5484d;
}

.btn-error:hover {
  cursor: pointer;
  background-color: #dc3e42;
}
.btn-error:focus {
  outline: 1px solid #dc3e42;
}

.btn-error:active {
  border: 1px solid #dc3e42;
}

.general form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

hr {
  height: 1px;
  margin: 24px 0;
  color: #3a3a3a;
  background: #3a3a3a;
  border: none;
}
/* Educational informations */

.educational {
  padding: 48px;
}

.educational form .input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.educational table,
.practical table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #3a3a3a;
  background-color: #191919;
  color: #eeeeee;
}

.educational table button,
.practical table button {
  margin-left: 8px;
}

.educational td,
.practical td {
  padding: 8px 16px;
  border: 1px solid #3a3a3a;
}

.practical {
  padding: 48px;
}

.practical form .input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
