.navigation button {
  background-color: #222222;
  border: 1px solid #3a3a3a;
  color: #b4b4b4;
}

.navigation button:hover {
  background-color: #2a2a2a;
}

.navigation button:active {
  background-color: #222222;
}

.navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.navigation {
  padding: 24px;
}

.isSelected {
  border: 1px solid #00A2C7 !important;
}