*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  background-color: #f9f9f9;
  color: #202020;
}

.container {
  display: flex;
}
